repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: ^\.napari-hub/.*
      - id: check-yaml # checks for correct yaml syntax for github actions ex.
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.5
    hooks:
      - id: ruff
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/tlambert03/napari-plugin-checks
    rev: v0.3.0
    hooks:
      - id: napari-plugin-checks
  # Local development hook - uses installed ndev-settings package
  - repo: local
    hooks:
      - id: reset-settings-values
        name: Reset settings values to defaults
        entry: python -m ndev_settings._cli
        language: system
        files: ndev_settings\.yaml$
        pass_filenames: true
  # After ndev-settings is released, use this instead:
  # - repo: https://github.com/ndev-kit/ndev-settings
  #   rev: v0.3.0
  #   hooks:
  #     - id: reset-settings-values
  # https://mypy.readthedocs.io/en/stable/
  # you may wish to add this as well!
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.9.0
  #   hooks:
  #     - id: mypy
